@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply styles for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
  .sidebar::-webkit-scrollbar {
    height: 8px;
  }
  .sidebar::-webkit-scrollbar-track {
    background: #c5c5c530;
    border-radius: 24px;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #017544;
    border-radius: 24px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.second {
  quotes: "“" "”";
}

.second::before {
  content: open-quote;
  font-size: 4em;
  color: #ccc;
  position: absolute;
  top: 0px;
  left: 0;
  font-family: Georgia, serif;
}

.second::after {
  content: close-quote;
  font-size: 4em;
  color: #ccc;
  position: absolute;
  bottom: -42px;
  right: 0;
  font-family: Georgia, serif;
}
